body {
    font-family: "Times New Roman", serif;
}
header h1 {
    font-size: 28px; /* Réduit la taille, ajuste selon ton besoin */
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
.contact {
    text-align: center;
    margin-top: 20px;
}

.contact p {
    font-size: 18px;
    margin: 8px 0;
}

.contact a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.contact a:hover {
    color: #0056b3;
}